<!DOCTYPE html>
<!--_Layout.cshtml

El contenido del body debe ser:

1)	navbar (barra de navegación) fijada en la parte superior con:
a)	Nombre del juego (link a Home/index)
b)	Tutorial (link a Home/tutorial)
c)	Jugar (link a Escape/index)

2)	<div class=”container body-content”>, conformado por:
a)	arroba RenderBody, que incluirá el código generado en cada view en el diseño general
b)	footer en el cual figura el nombre y apellido del autor/a del sitio, Copyright y año.

3)	archivos js de Bootstrap-->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <img class="logo" src="/imagenes/logo.png">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Escape" asp-action="Index">Juego</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - SalaDeEscape - Angel, Agustina - Avola, Tomás - Cembal, Micaela  
    </div>
    |</footer>
</body>
</html>
