@{
    ViewData["Title"] = "KELUAR";
}
<!--Debe contener:
a)	El logo del juego junto a un slogan.
b)	Un Carousel con 3 imágenes publicitarias del juego.-->

<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>KELUAR</title>
  </head>
  <body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/imagenes/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/imagenes/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/imagenes/3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span> 
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <center> <h1 class="letra3">ABRE TU MENTE, ABRE LA PUERTA</h1></center>
    <p class="letra1">KELUAR- Un nuevo fenómeno, que llegó a Argentina hace tan solo tres años, y que día a día reúne más adeptos. Un sector incipiente que, poco a poco, se va extendiendo. En la actualidad ya hay más de una docena de sitios en Buenos Aires donde se puede disfrutar de esta nueva fórmula para pasar un buen rato con amigos o familiares.
 </p>
 <br>
<p class="letra1">ROOM ESCAPE- Dentro del juego lo importante es la lógica y el ingenio. Entre esas cuatro habitaciones hay que encontrar llaves, hacer rompecabezas, investigar, resolver enigmas, obtener combinaciones u objetos, para poder resolver el enigma final. Todos ellos siempre enlazados por una historia.
Cada juego está ambientado en un espacio distinto y se puede disfrutar de múltiples historias. Hay juegos de detectives, fugitivos, héroes, de ciencia ficción, de terror, matemáticos, entre decenas de otros más. Solo hay que usar el cerebro y resolver el enigma¿Te animas a descubrir con cual te enfrentas hoy?
 </p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>