<!--Debe incluir una explicación con texto e imágenes acerca del juego, separado en:
a)	Breve reseña explicando de qué trata la temática elegida.
b)	Imágenes de las distintas escenas del juego
El diseño lo dejamos a tu criterio.-->
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  <body><center><h1 class="letra3">DESCUBRÍ A QUÉ TE ENFRENTÁS</h1></center>
  <h4 class="letra1"> 
     Los juegos de escapismo virtuales no son muy diferentes a las partidas dentro de una sala física, es por eso que acá te dejamos unos SUPER KELUAR TIPS para salir ganador.
  <br><br>
  <ul>
  <li>  Hay una habitación cerrada de la que deberás escapar para salir ganador.</li>
  <li> La clave para salir de la sala será resolver un abanico de enigmas, pruebas y acertijos que irán apareciendo a medida que vayas avanzando.</li>
  <li> En cada rincón y grietas se ocultan secretos. Por lo que explorar será fundamental para superar el desafío.</li>
  <li> Te verás en la necesidad de activar tus poderes de exploración y tus capacidades de usar el ingenio para enlazar cada objeto que encuentres con los enigmas que debes descifrar.</li>
  <li> Desde luego, tanto los objetos como las imágenes están graficadas, así que tendrás que desplazarte por las msimas para hallar el enigma. Cuentas con dos pistas por habitación como ayuda, ¡no las desaproveches!</li>
  </ul>
</h4>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/imagenes/Subte3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/imagenes/Subte4.jpg"class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/Subte5.jpg"class="d-block w-100" alt="...">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
