<!--En esta página veremos la pantalla inicial del juego. Deberá contener:
a)	Un texto introduciendo al usuario a la experiencia
b)	Un botón en formato de enlace (con texto COMENZAR), que llame a Escape/Habitacion1.-->
<center><h1 class="letra3">UN SUBTE SIN FIN</h1></center>
<h2 class="letra1"> Viajar en el subte de Buenos Aires suele ser una alternativa rápida y segura, salvo que subas a uno conducido por un demente, que quiere llevar a sus pasajeros a Máxima Velocidad</h2>
<center><img class="imagen_pista" src="/imagenes/COLLAGE.jpg"></center>
<div class="row  mt-3 mb-3"><a class="nav-link  btn btn-primary" href="/Escape/Comenzar">Comenzar</a></div>

