<!--El contenido y diseño de esta view queda a tu criterio. Demostremos nuestro entusiasmo al usuario que logró salir correctamente de la sala de escape.-->

<h1 class="letra3">¡Eres un sabelotodo!</h1>
<h4 class="letra1">¡Muy bien, lograste bajar la palanca! Ahora que está quieto el subte, se podrá abrir las puertas y todos los pasajeros podrán salir tranquilamente. La policia ya se esta ocupando de arrestar al demente ¡Eres un genio!</h4>
<center><img class="imagen_pista" src="/imagenes/VICTORIA.gif"></center>